*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  
}

/* .box{
  border: 3px solid black;
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7vmax;
  background-color: black;
  color: white;
  font-family: "montserrat";
  position: absolute;
  left: 11%;
  animation: move 1s ease;
  opacity: 1;
}

h1{
  position: absolute;
  animation: bottom 1s 1s ease ;
  opacity: 1;
}

h2{
  position: absolute;
  bottom: 20%;
  animation: up 1s 2s ease;
  opacity: 1;
}
button{
position: absolute;
bottom: 5%;
left: 40%;
}

@keyframes move {
  from{
left: 0%;
}
to{
  left: 10%;
  opacity: 1;
  }
}

@keyframes bottom {
  from{
top: 0%;
opacity: 0;
}
to{
  top: 30%;
  opacity: 1;
  }
}

@keyframes up {
  from{
    opacity: 0;
bottom: 0%;
}
to{
  bottom: 20%;
  opacity: 1;
  }
}

 */
